# https://editorconfig.org
root = true
# 优先级高于编辑器自身的设置
[*]
charset = utf-8                     # 文件编码是 utf-8
indent_style = space                # 空格缩进
# indent_size = 4                     # 缩进空格为4个
end_of_line = lf                    # 文件换行符是 linux 的 `\n`
insert_final_newline = true         # 文件末尾添加一个空行
trim_trailing_whitespace = true     # 不保留行末的空格
spaces_around_operators = true      # 运算符两边都有空格
indent_brace_style = 1tbs           # 条件语句格式是 1tbs
[*.md]
insert_final_newline = false        # 文件末尾不添加一个空行
trim_trailing_whitespace = false    # 保留行末的空格
[*.js]                              # 对所有的 js 文件生效
quote_type = single                 # 字符串使用单引号
indent_size = 2                     # 缩进空格为2个
