.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
!*.exe

package-lock.json
yarn.lock
/.vs
90060.code-workspace

vue.config1.js
static/config1.js
Dockerfile
node_modules
